{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
  {% if threads|length == 0 %}
    <h2> No Threads Yet! </h2>
  {% else %}
  <div class = "row">
    <table class = "table">
      <thead>
        <tr>
          <th width = "70%">Topic</th>
          <th width = "10%">Score</th>
          <th width = "10%">Score</th>
          <th width = "10%">Score</th>
        </tr>
      </thead>
      <tbody>
      {% for thread in threads %}
        <tr>
          <td class = "fixed-width">
            <a href = "{{ url_for('thread.view_thread', threadId = thread.id) }}">
              {{ thread.topic }}
            </a>
          </td>
          <td class = "fixed-width">{{ thread.score }}</td>
          <td>
            <a href = "{{ url_for('home.upvote_thread', threadId = thread.id,
              pageNo = pageNo) }}">
              <button type = "button" class = "btn btn-default">
                <span class = "glyphicon glyphicon-circle-arrow-up"></span>
              </button>
            </a>
          </td>
          <td>
            <a href = "{{ url_for('home.downvote_thread', threadId = thread.id,
              pageNo = pageNo) }}">
              <button type = "button" class = "btn btn-default">
                <span class = "glyphicon glyphicon-circle-arrow-down"></span>
              </button>
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}
    <nav>
      <ul class = "pager">
        {% if pageNo == 0 %}
          <li class = "previous disabled">
            <a href = #>Previous Page</a>
          </li>
        {% else %}
          <li class = "previous">
            <a href = "{{ url_for('home.homepage', pageNo = pageNo - 1) }}">
            Previous Page
            </a>
          </li>
        {% endif %}
        <li class = "next">
          <a href = "{{ url_for('home.homepage', pageNo = pageNo + 1) }}">
            Next Page
          </a>
        </li>
      </ul>
    </nav>
    <a class = "btn btn-primary btn-block"
      href = "{{ url_for('thread.add_thread') }}"
      role = "button">
      New Thread
    </a>
  </div>
{% endblock %}
