.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.table {
    table-layout: fixed;
    overflow: hidden;

}

.fixed-width {
    overflow: hidden;
    text-overflow: ellipsis;
}

.topic {
  word-wrap: break-word;
}
